body{
  margin:0;
  background:#000;
  font-family:Arial, sans-serif;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  text-align:center;
  width:380px;
}

h1{
  color:#66e0ff;
  text-shadow:0 0 10px #00caff;
}

.screen{
  margin:20px 0;
  padding:20px;
  background:#111;
  border-radius:15px;
  box-shadow:0 0 20px #00a2ff;
}

.label{
  font-size:18px;
  margin-top:10px;
  color:#66e0ff;
}

.num{
  font-size:42px;
  font-family:monospace;
  color:#00ff88;
  text-shadow:0 0 10px #00ff88;
}

.btn{
  width:200px;
  padding:12px;
  margin-top:15px;
  border:none;
  border-radius:8px;
  font-size:20px;
  cursor:pointer;
  color:white;
}

.start{
  background:#008cff;
}

.withdraw{
  background:#00b359;
}

.close{
  background:#ff1744;
}

.balance{
  margin-top:15px;
  font-size:22px;
}

/* modal */

.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
}

.modal-content{
  background:#111;
  width:300px;
  margin:150px auto;
  padding:20px;
  border-radius:12px;
  text-align:center;
  color:#66e0ff;
}
